body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  color: gray;
}
.record {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 20px solid white;
  background: whitesmoke;
}
.record-div {
  display: flex;
  padding: 10%;
  justify-content: center;
  background: url("../src/assets/images/graf.jpg");
  height: 61vh;
}
